<div class="banner-section">
  {% comment %}
    {% for section in homepage_sections %}
      {% section section %}
    {% endfor %}
  {% endcomment %}
  <div class="container mx-auto py-20">
    <div class="flex flex-col md:flex-row gap-x-[16px]">
      <div class="order-last md:flex-1/2 bg-amber-600 aspect-square max-h-max">
        <div class="grid grid-cols-3">
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid1 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M98.9,133.04l-8.01-1.41c-.22,1.48-.35,2.99-.39,4.52h8.13c.03-1.05.12-2.09.27-3.11ZM100.01,128.31l-7.64-2.78c-.48,1.42-.87,2.89-1.17,4.39l8,1.41c.21-1.03.49-2.03.81-3.02ZM101.92,123.84l-7.04-4.06c-.72,1.32-1.37,2.7-1.92,4.11l7.64,2.78c.39-.97.83-1.92,1.32-2.83ZM100.6,147.38l-7.64,2.78c.56,1.42,1.2,2.79,1.92,4.11l7.04-4.06c-.49-.91-.93-1.86-1.32-2.83ZM98.63,137.89h-8.13c.04,1.53.17,3.04.39,4.52l8.01-1.41c-.15-1.02-.23-2.06-.27-3.11ZM99.2,142.72l-8,1.41c.3,1.5.69,2.96,1.17,4.39l7.64-2.78c-.32-.98-.6-1.99-.81-3.02ZM147.29,118.44l6.23-5.22c-1-1.14-2.07-2.21-3.21-3.21l-5.22,6.23c.78.69,1.51,1.43,2.21,2.21ZM153.81,131.32l8-1.41c-.3-1.5-.69-2.96-1.17-4.39l-7.64,2.78c.32.98.6,1.99.81,3.02ZM104.59,119.78l-6.23-5.23c-.94,1.18-1.82,2.42-2.61,3.72l7.04,4.06c.55-.89,1.15-1.74,1.8-2.55ZM152.4,126.67l7.64-2.78c-.56-1.42-1.2-2.79-1.92-4.11l-7.04,4.06c.49.91.93,1.86,1.32,2.83ZM154.37,136.15h8.13c-.04-1.53-.17-3.04-.39-4.52l-8.01,1.41c.15,1.02.23,2.06.27,3.11ZM150.2,122.33l7.04-4.06c-.79-1.29-1.66-2.53-2.61-3.72l-6.23,5.23c.64.82,1.24,1.67,1.8,2.55ZM107.92,116.23l-5.22-6.23c-1.14,1-2.21,2.07-3.21,3.21l6.23,5.22c.69-.78,1.43-1.51,2.21-2.21ZM104.59,154.27c-.64-.82-1.24-1.67-1.8-2.55l-7.04,4.06c.79,1.29,1.66,2.53,2.61,3.72l6.23-5.23ZM121.11,172.63c1.48.22,2.99.35,4.52.39v-8.13c-1.05-.03-2.09-.12-3.11-.27l-1.41,8.01ZM141.19,160.73l4.07,7.04c1.29-.79,2.53-1.66,3.72-2.61l-5.23-6.23c-.82.64-1.67,1.24-2.55,1.8ZM148.41,154.27l6.23,5.23c.94-1.18,1.82-2.42,2.61-3.72l-7.04-4.06c-.55.89-1.15,1.74-1.8,2.55ZM145.08,157.81l5.22,6.23c1.14-1,2.21-2.07,3.21-3.21l-6.23-5.22c-.69.78-1.43,1.51-2.21,2.21ZM105.71,155.61l-6.22,5.22c-.36-.41-.72-.82-1.06-1.25-.34.46-.55,1.02-.55,1.63,0,1.51,1.22,2.73,2.73,2.73.55,0,1.06-.16,1.48-.44,0,0,.1.1.6.54l5.22-6.23c-.78-.69-1.51-1.43-2.21-2.21ZM152.99,145.74l7.64,2.78c.48-1.42.87-2.89,1.17-4.39l-8-1.41c-.21,1.03-.49,2.03-.81,3.02ZM154.1,141.01l8.01,1.41c.22-1.48.35-2.99.39-4.52h-8.13c-.03,1.05-.12,2.09-.27,3.11ZM151.08,150.21l7.04,4.06c.72-1.32,1.37-2.7,1.92-4.11l-7.64-2.78c-.39.97-.83,1.92-1.32,2.83ZM115,171.16c1.42.48,2.89.87,4.39,1.17l1.41-8c-1.03-.21-2.03-.49-3.02-.81l-2.78,7.64ZM113.32,161.6l-4.06,7.04-1.2-.69-.31-.19h0s4.06-7.04,4.06-7.04c-.89-.55-1.74-1.15-2.55-1.8l-5.23,6.23c1.08.87,2.22,1.67,3.41,2.4,0,0,0,0,0,0-.08.26-.13.53-.13.82,0,1.51,1.22,2.73,2.73,2.73.87,0,1.65-.41,2.15-1.05,0,0,0,0,0-.01.39.17.78.35,1.17.5l2.78-7.64c-.97-.39-1.92-.83-2.83-1.32ZM136.85,162.92l2.78,7.64c1.42-.56,2.79-1.2,4.11-1.92l-4.06-7.04c-.91.49-1.86.93-2.83,1.32ZM127.37,109.16c1.05.03,2.09.12,3.11.27l1.21-6.87c.58.09,1.14.21,1.71.32l-1.21,6.85c1.03.21,2.03.49,3.02.81l2.38-6.54c.55.19,1.1.37,1.64.58l-2.39,6.56c.97.39,1.92.83,2.83,1.32l3.48-6.03c.51.28,1.01.58,1.5.88l-3.48,6.03c.89.55,1.74,1.15,2.55,1.8l5.23-6.23c-1.05-.84-2.14-1.6-3.28-2.32v-24.62h-28.49v-1.97h-4.43v1.97h-5.47v24.62c-1.13.72-2.23,1.48-3.28,2.32l5.23,6.23c.82-.64,1.67-1.24,2.55-1.8l-3.48-6.03c.5-.3.99-.6,1.5-.88l3.48,6.03c.91-.49,1.86-.93,2.83-1.32l-2.39-6.56c.54-.21,1.09-.4,1.64-.58l2.38,6.54c.98-.32,1.99-.6,3.02-.81l-1.21-6.85c.57-.11,1.14-.23,1.71-.32l1.21,6.87c1.02-.15,2.06-.23,3.11-.27v-6.96c.29,0,.58-.03.87-.03.29,0,.58.03.87.03v6.96ZM127.37,164.89v8.13c1.53-.04,3.04-.17,4.52-.39l-1.41-8.01c-1.02.15-2.06.23-3.11.27ZM132.2,164.33l1.41,8c1.5-.3,2.96-.69,4.39-1.17l-2.78-7.64c-.98.32-1.99.6-3.02.81Z"/>
                <path class="fill-nicknavyblue-100" d="M89.9,124.04l-8.01-1.41c-.22,1.48-.35,2.99-.39,4.52h8.13c.03-1.05.12-2.09.27-3.11ZM91.01,119.31l-7.64-2.78c-.48,1.42-.87,2.89-1.17,4.39l8,1.41c.21-1.03.49-2.03.81-3.02ZM92.92,114.84l-7.04-4.06c-.72,1.32-1.37,2.7-1.92,4.11l7.64,2.78c.39-.97.83-1.92,1.32-2.83ZM91.6,138.38l-7.64,2.78c.56,1.42,1.2,2.79,1.92,4.11l7.04-4.06c-.49-.91-.93-1.86-1.32-2.83ZM89.63,128.89h-8.13c.04,1.53.17,3.04.39,4.52l8.01-1.41c-.15-1.02-.23-2.06-.27-3.11ZM90.2,133.72l-8,1.41c.3,1.5.69,2.96,1.17,4.39l7.64-2.78c-.32-.98-.6-1.99-.81-3.02ZM138.29,109.44l6.23-5.22c-1-1.14-2.07-2.21-3.21-3.21l-5.22,6.23c.78.69,1.51,1.43,2.21,2.21ZM144.81,122.32l8-1.41c-.3-1.5-.69-2.96-1.17-4.39l-7.64,2.78c.32.98.6,1.99.81,3.02ZM95.59,110.78l-6.23-5.23c-.94,1.18-1.82,2.42-2.61,3.72l7.04,4.06c.55-.89,1.15-1.74,1.8-2.55ZM143.4,117.67l7.64-2.78c-.56-1.42-1.2-2.79-1.92-4.11l-7.04,4.06c.49.91.93,1.86,1.32,2.83ZM145.37,127.15h8.13c-.04-1.53-.17-3.04-.39-4.52l-8.01,1.41c.15,1.02.23,2.06.27,3.11ZM141.2,113.33l7.04-4.06c-.79-1.29-1.66-2.53-2.61-3.72l-6.23,5.23c.64.82,1.24,1.67,1.8,2.55ZM98.92,107.23l-5.22-6.23c-1.14,1-2.21,2.07-3.21,3.21l6.23,5.22c.69-.78,1.43-1.51,2.21-2.21ZM95.59,145.27c-.64-.82-1.24-1.67-1.8-2.55l-7.04,4.06c.79,1.29,1.66,2.53,2.61,3.72l6.23-5.23ZM112.11,163.63c1.48.22,2.99.35,4.52.39v-8.13c-1.05-.03-2.09-.12-3.11-.27l-1.41,8.01ZM132.19,151.73l4.07,7.04c1.29-.79,2.53-1.66,3.72-2.61l-5.23-6.23c-.82.64-1.67,1.24-2.55,1.8ZM139.41,145.27l6.23,5.23c.94-1.18,1.82-2.42,2.61-3.72l-7.04-4.06c-.55.89-1.15,1.74-1.8,2.55ZM136.08,148.81l5.22,6.23c1.14-1,2.21-2.07,3.21-3.21l-6.23-5.22c-.69.78-1.43,1.51-2.21,2.21ZM96.71,146.61l-6.22,5.22c-.36-.41-.72-.82-1.06-1.25-.34.46-.55,1.02-.55,1.63,0,1.51,1.22,2.73,2.73,2.73.55,0,1.06-.16,1.48-.44,0,0,.1.1.6.54l5.22-6.23c-.78-.69-1.51-1.43-2.21-2.21ZM143.99,136.74l7.64,2.78c.48-1.42.87-2.89,1.17-4.39l-8-1.41c-.21,1.03-.49,2.03-.81,3.02ZM145.1,132.01l8.01,1.41c.22-1.48.35-2.99.39-4.52h-8.13c-.03,1.05-.12,2.09-.27,3.11ZM142.08,141.21l7.04,4.06c.72-1.32,1.37-2.7,1.92-4.11l-7.64-2.78c-.39.97-.83,1.92-1.32,2.83ZM106,162.16c1.42.48,2.89.87,4.39,1.17l1.41-8c-1.03-.21-2.03-.49-3.02-.81l-2.78,7.64ZM104.32,152.6l-4.06,7.04-1.2-.69-.31-.19h0s4.06-7.04,4.06-7.04c-.89-.55-1.74-1.15-2.55-1.8l-5.23,6.23c1.08.87,2.22,1.67,3.41,2.4,0,0,0,0,0,0-.08.26-.13.53-.13.82,0,1.51,1.22,2.73,2.73,2.73.87,0,1.65-.41,2.15-1.05,0,0,0,0,0-.01.39.17.78.35,1.17.5l2.78-7.64c-.97-.39-1.92-.83-2.83-1.32ZM127.85,153.92l2.78,7.64c1.42-.56,2.79-1.2,4.11-1.92l-4.06-7.04c-.91.49-1.86.93-2.83,1.32ZM118.37,100.16c1.05.03,2.09.12,3.11.27l1.21-6.87c.58.09,1.14.21,1.71.32l-1.21,6.85c1.03.21,2.03.49,3.02.81l2.38-6.54c.55.19,1.1.37,1.64.58l-2.39,6.56c.97.39,1.92.83,2.83,1.32l3.48-6.03c.51.28,1.01.58,1.5.88l-3.48,6.03c.89.55,1.74,1.15,2.55,1.8l5.23-6.23c-1.05-.84-2.14-1.6-3.28-2.32v-24.62h-28.49v-1.97h-4.43v1.97h-5.47v24.62c-1.13.72-2.23,1.48-3.28,2.32l5.23,6.23c.82-.64,1.67-1.24,2.55-1.8l-3.48-6.03c.5-.3.99-.6,1.5-.88l3.48,6.03c.91-.49,1.86-.93,2.83-1.32l-2.39-6.56c.54-.21,1.09-.4,1.64-.58l2.38,6.54c.98-.32,1.99-.6,3.02-.81l-1.21-6.85c.57-.11,1.14-.23,1.71-.32l1.21,6.87c1.02-.15,2.06-.23,3.11-.27v-6.96c.29,0,.58-.03.87-.03.29,0,.58.03.87.03v6.96ZM130.32,77.48h.9s0,12.47,0,12.47h-.9v-12.47ZM118.37,155.89v8.13c1.53-.04,3.04-.17,4.52-.39l-1.41-8.01c-1.02.15-2.06.23-3.11.27ZM123.2,155.33l1.41,8c1.5-.3,2.96-.69,4.39-1.17l-2.78-7.64c-.98.32-1.99.6-3.02.81Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid2 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M134.67,143.89v-58.72c0-4.51-3.66-8.17-8.17-8.17s-8.17,3.66-8.17,8.17v11.3h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89s3.28,0,3.28,0v1.32h-3.28v.05c-5.32,2.9-8.94,8.51-8.94,15,0,9.45,7.66,17.11,17.11,17.11s17.11-7.66,17.11-17.11c0-6.48-3.62-12.1-8.94-15ZM126.5,166.12c-3.98,0-7.23-3.24-7.23-7.23,0-3.56,2.59-6.52,5.99-7.11v-39.09h2.47v39.09c3.4.59,5.99,3.55,5.99,7.11,0,3.98-3.24,7.23-7.23,7.23ZM111.21,99.51l-4.19-4.19-4.19,4.19v3.56l2.95-2.96v25.98h2.47v-25.98s2.95,2.96,2.95,2.96v-3.56ZM147.22,133.76v-25.98h-2.47v25.98l-2.95-2.96v3.56l4.19,4.19,4.19-4.19v-3.56l-2.95,2.96Z"/>
                <path class="fill-nicknavyblue-100" d="M125.67,134.89v-58.72c0-4.51-3.66-8.17-8.17-8.17s-8.17,3.66-8.17,8.17v11.3h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89h3.28v1.32h-3.28v7.89s3.28,0,3.28,0v1.32h-3.28v.05c-5.32,2.9-8.94,8.51-8.94,15,0,9.45,7.66,17.11,17.11,17.11s17.11-7.66,17.11-17.11c0-6.48-3.62-12.1-8.94-15ZM117.5,157.12c-3.98,0-7.23-3.24-7.23-7.23,0-3.56,2.59-6.52,5.99-7.11v-39.09h2.47v39.09c3.4.59,5.99,3.55,5.99,7.11,0,3.98-3.24,7.23-7.23,7.23ZM102.21,90.51l-4.19-4.19-4.19,4.19v3.56l2.95-2.96v25.98h2.47v-25.98s2.95,2.96,2.95,2.96v-3.56ZM138.22,124.76v-25.98h-2.47v25.98l-2.95-2.96v3.56l4.19,4.19,4.19-4.19v-3.56l-2.95,2.96Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid3 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M125.7,102.82c-.31,0-.58.42-.71,1.03l.21-2.3c-2.65-.5-4.77-2.49-5.47-5.06h-.87v12.09c-.15.97-.4,1.68-.4,1.68l-.44,1,6.01-.35c.25-.67.49-1.51.55-2.32l.34-3.83c.02.98.37,1.76.79,1.76.44,0,.8-.83.8-1.85,0-1.02-.36-1.85-.8-1.85ZM116.24,112.84c-.33.24-.65.56-.91,1-.21.36-.37.63-.48.83h0s-.12.2-.12.2h0s-9.54,17.26-9.54,17.26c-.07.13-6.68,12.69-6.13,26.59.29,7.19,1.24,13.09,2.74,17.06.65,1.71,1.21,3.03,1.75,3.99l5.72-6.41s0-.02,0-.03c-.59-2.61-1.71-9.65-1.71-17.57,0-1.63.3-10.33,6.16-21.34,3.63-6.81,6.25-12,8.34-16.18.25-.5.51-1.01.77-1.52.61-1.2,1.19-2.34,1.62-3.31.22-.5.15-.84.02-1.06l-8.24.48ZM133.43,93.15s.03,0,.05,0c.38,0,.63.03.63-.65v-4.66s-.35-3.79-1.47-7.02c-1.19-3.44-2.33-5.62-3.01-6.77-.42-.71-.52-.83-.99-.83l-.12,1.3-1.33,12.44-.06.63c3.12.27,5.66,2.56,6.29,5.56ZM129.02,111.02l5.95.21-.42-.97s-.33-.95-.46-2.15v-4.72c0-.26,0-.52,0-.75,0,0,0-.13,0-.27v-2.59s0-.06,0-.06c0,0,0-.17,0-.42v-2.81h-1.29v-1.75s0-.01,0-.02c0-.03,0-.07,0-.1,0-3.39-2.68-6.14-6.03-6.28,0,0-.95-.01-1.08-.01-.21,0-.26-.07-.29-.27-.07-.46-.13-1.1-.13-1.1l-1.33-12.44-.12-1.3c-.47,0-.57.12-.99.83-.68,1.15-1.82,3.33-3.01,6.77-1.43,4.16-.93,7.49-.93,7.5v4.19c0,.54.23.65.63.65.3,0,.66-.06.66.19v1.55c0,.75.45,1.98.45,1.98.91,2.36,3.19,4.04,5.87,4.04.39,0,.76-.04,1.13-.11l.28,2.69c-.15-.41-.36-.68-.61-.68-.44,0-.8.83-.8,1.85,0,1.02.36,1.85.8,1.85.38,0,.69-.62.77-1.44l.36,3.51c.06.86.32,1.75.59,2.43ZM126.5,97.1c-1.37,0-2.48-1.11-2.48-2.48s1.11-2.48,2.48-2.48c1.37,0,2.48,1.11,2.48,2.48s-1.11,2.48-2.48,2.48ZM147.81,132.13l-9.54-17.25h0s-.12-.2-.12-.2h0c-.11-.2-.27-.47-.48-.83-.28-.48-.65-.82-1-1.07l-8.2-.29c-.08.22-.1.53.08.95.43.97,1.01,2.11,1.62,3.31.26.51.52,1.02.77,1.52,2.08,4.17,4.7,9.36,8.34,16.18,5.87,11,6.17,19.71,6.17,21.34,0,7.77-1.08,14.69-1.68,17.42l5.69,6.59c.54-.96,1.1-2.29,1.74-3.98,1.5-3.97,2.45-9.87,2.74-17.06.56-13.91-6.06-26.47-6.13-26.6Z"/>
                <path class="fill-nicknavyblue-100" d="M116.7,93.82c-.31,0-.58.42-.71,1.03l.21-2.3c-2.65-.5-4.77-2.49-5.47-5.06h-.87v12.09c-.15.97-.4,1.68-.4,1.68l-.44,1,6.01-.35c.25-.67.49-1.51.55-2.32l.34-3.83c.02.98.37,1.76.79,1.76.44,0,.8-.83.8-1.85,0-1.02-.36-1.85-.8-1.85ZM107.24,103.84c-.33.24-.65.56-.91,1-.21.36-.37.63-.48.83h0s-.12.2-.12.2h0s-9.54,17.26-9.54,17.26c-.07.13-6.68,12.69-6.13,26.59.29,7.19,1.24,13.09,2.74,17.06.65,1.71,1.21,3.03,1.75,3.99l5.72-6.41s0-.02,0-.03c-.59-2.61-1.71-9.65-1.71-17.57,0-1.63.3-10.33,6.16-21.34,3.63-6.81,6.25-12,8.34-16.18.25-.5.51-1.01.77-1.52.61-1.2,1.19-2.34,1.62-3.31.22-.5.15-.84.02-1.06l-8.24.48ZM124.43,84.15s.03,0,.05,0c.38,0,.63.03.63-.65v-4.66s-.35-3.79-1.47-7.02c-1.19-3.44-2.33-5.62-3.01-6.77-.42-.71-.52-.83-.99-.83l-.12,1.3-1.33,12.44-.06.63c3.12.27,5.66,2.56,6.29,5.56ZM120.02,102.02l5.95.21-.42-.97s-.33-.95-.46-2.15v-4.72c0-.26,0-.52,0-.75,0,0,0-.13,0-.27v-2.59s0-.06,0-.06c0,0,0-.17,0-.42v-2.81h-1.29v-1.75s0-.01,0-.02c0-.03,0-.07,0-.1,0-3.39-2.68-6.14-6.03-6.28,0,0-.95-.01-1.08-.01-.21,0-.26-.07-.29-.27-.07-.46-.13-1.1-.13-1.1l-1.33-12.44-.12-1.3c-.47,0-.57.12-.99.83-.68,1.15-1.82,3.33-3.01,6.77-1.43,4.16-.93,7.49-.93,7.5v4.19c0,.54.23.65.63.65.3,0,.66-.06.66.19v1.55c0,.75.45,1.98.45,1.98.91,2.36,3.19,4.04,5.87,4.04.39,0,.76-.04,1.13-.11l.28,2.69c-.15-.41-.36-.68-.61-.68-.44,0-.8.83-.8,1.85,0,1.02.36,1.85.8,1.85.38,0,.69-.62.77-1.44l.36,3.51c.06.86.32,1.75.59,2.43ZM117.5,88.1c-1.37,0-2.48-1.11-2.48-2.48s1.11-2.48,2.48-2.48c1.37,0,2.48,1.11,2.48,2.48s-1.11,2.48-2.48,2.48ZM138.81,123.13l-9.54-17.25h0s-.12-.2-.12-.2h0c-.11-.2-.27-.47-.48-.83-.28-.48-.65-.82-1-1.07l-8.2-.29c-.08.22-.1.53.08.95.43.97,1.01,2.11,1.62,3.31.26.51.52,1.02.77,1.52,2.08,4.17,4.7,9.36,8.34,16.18,5.87,11,6.17,19.71,6.17,21.34,0,7.77-1.08,14.69-1.68,17.42l5.69,6.59c.54-.96,1.1-2.29,1.74-3.98,1.5-3.97,2.45-9.87,2.74-17.06.56-13.91-6.06-26.47-6.13-26.6Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid4 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M142.44,102.47h-24.86v3.87h24.86v-3.87ZM125.79,161.75h8.44l1.27-2.63h-10.97l1.27,2.63ZM124.53,150.34h10.97v-2.1h-10.97v2.1ZM124.53,157.61h10.97v-2.1h-10.97v2.1ZM124.53,153.98h10.97v-2.1h-10.97v2.1ZM136.99,91.44l-.78-.19h-2.93l2.29.85,1.42-.65ZM136.5,101.58h4.67v-8.11l-2.11-1.38h-.37l-2.18,1v8.49ZM124.76,101.58h10.47v-8.23l-5.28-1.96-5.19,1.92v8.26ZM123.5,93.03l-2.06-.95h-.47l-2.11,1.38v8.11h4.64v-8.54ZM126.62,91.25h-2.77s-.74.19-.74.19l1.34.62,2.17-.8ZM124.53,135.8h10.97s1.32-2.7,1.32-2.7h-13.61l1.32,2.7ZM168.88,146.3l2.06.95h.47l2.11-1.38v-8.11h-4.64v8.54ZM167.61,137.76h-5.25s0,0,0,0h-5.22v8.23l5.28,1.96,5.19-1.92v-8.26ZM124.53,146.71h10.97v-2.1h-10.97v2.1ZM173.89,107.45h-79.54s-12.63,0-12.63,0l-4.72,10.6,1.47,4.53h16.67l.48,9.29h53.73s1.75,4.69,1.75,4.69h22.47l2.44-18.62-2.11-10.48ZM165.75,148.09h2.77l.74-.19-1.34-.62-2.17.8ZM124.53,139.44h10.97v-2.1h-10.97s0,2.1,0,2.1ZM124.53,143.07h10.97s0-2.1,0-2.1h-10.97v2.1ZM155.38,147.9l.78.19h2.93l-2.29-.85-1.42.65ZM155.87,137.76h-4.67v8.11l2.11,1.38h.37l2.18-1v-8.49Z"/>
                <path class="fill-nicknavyblue-100" d="M133.44,93.47h-24.86v3.87h24.86v-3.87ZM116.79,152.75h8.44l1.27-2.63h-10.97l1.27,2.63ZM115.53,141.34h10.97v-2.1h-10.97v2.1ZM115.53,148.61h10.97v-2.1h-10.97v2.1ZM115.53,144.98h10.97v-2.1h-10.97v2.1ZM127.99,82.44l-.78-.19h-2.93l2.29.85,1.42-.65ZM127.5,92.58h4.67v-8.11l-2.11-1.38h-.37l-2.18,1v8.49ZM115.76,92.58h10.47v-8.23l-5.28-1.96-5.19,1.92v8.26ZM114.5,84.03l-2.06-.95h-.47l-2.11,1.38v8.11h4.64v-8.54ZM117.62,82.25h-2.77s-.74.19-.74.19l1.34.62,2.17-.8ZM115.53,126.8h10.97s1.32-2.7,1.32-2.7h-13.61l1.32,2.7ZM159.88,137.3l2.06.95h.47l2.11-1.38v-8.11h-4.64v8.54ZM158.61,128.76h-5.25s0,0,0,0h-5.22v8.23l5.28,1.96,5.19-1.92v-8.26ZM115.53,137.71h10.97v-2.1h-10.97v2.1ZM164.89,98.45h-79.54s-12.63,0-12.63,0l-4.72,10.6,1.47,4.53h16.67l.48,9.29h53.73s1.75,4.69,1.75,4.69h22.47l2.44-18.62-2.11-10.48ZM158.5,113.97h-65.76v-.9h65.76v.9ZM156.75,139.09h2.77l.74-.19-1.34-.62-2.17.8ZM115.53,130.44h10.97v-2.1h-10.97s0,2.1,0,2.1ZM115.53,134.07h10.97s0-2.1,0-2.1h-10.97v2.1ZM146.38,138.9l.78.19h2.93l-2.29-.85-1.42.65ZM146.87,128.76h-4.67v8.11l2.11,1.38h.37l2.18-1v-8.49Z"/>
              </svg>
            </div>
          </a>

          <div class="aspect-square bg-grid5 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
            <svg
              class="w-full h-full"
              id="line"
              xmlns="http://www.w3.org/2000/svg"
              width="235"
              height="235"
              version="1.1"
              viewBox="0 0 235 235"
            >
              <path class="fill-white" d="M87.81,120.92l22.16,22.16v4.12h-22.16v-26.28ZM83.75,151.26h30.3v-9.88l-30.3-30.3v40.18h0Z"/>
              <path class="fill-white" d="M147.2,147.19h-15.84l-43.54-43.54v-15.84h15.79l43.59,43.59v15.79h0ZM83.75,83.75v21.59l45.92,45.92h21.59v-21.58l-45.97-45.94h-21.55.01Z"/>
              <path class="fill-white" d="M147.19,114.09l-22.16-22.16v-4.12h22.16v26.28ZM120.97,83.75v9.89l30.3,30.3v-40.18h-30.3,0Z"/>
            </svg>
          </div>

          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid6 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M114.74,92.23l-4.41,10.49h32.49l-4.41-10.49h-5.71v-11.19h-12.25s0,3.72,0,3.72h0v.45h-10.12v2.7h10.12s0,.45,0,.45h0v3.87h-5.71ZM106.86,85.66h-15.04v1.8h15.04v-1.8ZM92.42,93.91l.45,1.74,14.79-3.86-.45-1.74-14.79,3.86ZM110.33,175.54h32.49v-71.36h-32.49v71.36ZM92.42,79.21l14.79,3.86.45-1.74-14.79-3.86-.45,1.74Z"/>
                <path class="fill-nicknavyblue-100" d="M105.74,83.23l-4.41,10.49h32.49l-4.41-10.49h-5.71v-11.19h-12.25s0,3.72,0,3.72h0v.45h-10.12v2.7h10.12s0,.45,0,.45h0v3.87h-5.71ZM114.15,79.36h1.97s0-.45,0-.45v-3.15h-1.97v-1.02h6.85v8.49h-6.85v-3.87ZM97.86,76.66h-15.04v1.8h15.04v-1.8ZM83.42,84.91l.45,1.74,14.79-3.86-.45-1.74-14.79,3.86ZM101.33,166.54h32.49v-71.36h-32.49v71.36ZM127.57,100.83v60.06s-.9,0-.9,0v-60.06s.9,0,.9,0ZM83.42,70.21l14.79,3.86.45-1.74-14.79-3.86-.45,1.74Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid7 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M118.71,142.96l3.67,3.67,3.67-3.67-3.67-3.67-3.67,3.67ZM122.39,138.01l2.73-2.73h-5.46l2.73,2.73ZM126.39,135.28l-3.37,3.37,3.67,3.67,3.65-3.65-3.39-3.39h-.56ZM118.38,150.63l3.37-3.37-3.67-3.67-3.67,3.67,3.37,3.37h.62ZM130.98,146.6l3.65-3.65-3.65-3.65-3.65,3.65,3.65,3.65ZM110.09,142.96l3.67,3.67,3.67-3.67-3.67-3.67-3.67,3.67ZM117.77,135.28l-3.37,3.37,3.67,3.67,3.67-3.67-3.37-3.37h-.62ZM135.09,108.57h-18.07v2.84h18.07s0-2.84,0-2.84ZM135.78,97.39h-19.44v6.55h19.44v-6.55ZM122.39,147.9l-2.73,2.73h5.46l-2.73-2.73ZM132.94,95.91l-1.21-4.73h1.22l-1.22-4.73h1.22l-1.22-4.73h1.22l-1.22-4.73h1.22l-2.03-5.94h-9.72s-2.03,5.94-2.03,5.94h1.21l-1.21,4.73h1.22l-1.22,4.73h1.22l-1.22,4.73h1.21l-1.21,4.73h13.77ZM135.09,104.89h-18.07v2.84h18.07v-2.84ZM117.02,115.17h18.07v-2.84h-18.07s0,2.84,0,2.84ZM110,135.51v6.26l3.13-3.13-3.13-3.13ZM128.22,135.28l2.76,2.76,2.76-2.76h-5.52ZM143.19,150.24v-5.93l-2.96,2.96,2.96,2.96ZM136.87,150.63h5.44l-2.72-2.72-2.72,2.72ZM126.95,150.63l3.39-3.39-3.65-3.65-3.67,3.67,3.37,3.37h.56ZM113.76,147.9l-2.73,2.73h5.46l-2.73-2.73ZM111.34,152.13v29.81h30.49v-29.81h-30.49ZM143.19,141.6v-5.93l-2.96,2.96,2.96,2.96ZM135.9,142.96l3.69,3.69,3.6-3.6v-.17l-3.6-3.6-3.69,3.69ZM110,115.97v10.85h33.19v-10.85h-33.19ZM110,144.14v6.26l3.13-3.13-3.13-3.13ZM135.59,150.63l3.36-3.36-3.69-3.69-3.65,3.65,3.39,3.39h.58ZM135.59,135.28h-.58l-3.39,3.39,3.65,3.65,3.69-3.69-3.36-3.36ZM113.76,138.01l2.73-2.73h-5.46l2.73,2.73ZM130.98,147.88l-2.76,2.76h5.52l-2.76-2.76ZM142.3,135.28h-5.44l2.72,2.72,2.72-2.72ZM112.42,133.76h28.35v-5.66h-28.35v5.66Z"/>
                <path class="fill-nicknavyblue-100" d="M109.62,133.96l3.67,3.67,3.67-3.67-3.67-3.67-3.67,3.67ZM113.29,129.01l2.73-2.73h-5.46l2.73,2.73ZM117.3,126.28l-3.37,3.37,3.67,3.67,3.65-3.65-3.39-3.39h-.56ZM109.29,141.63l3.37-3.37-3.67-3.67-3.67,3.67,3.37,3.37h.62ZM121.89,137.6l3.65-3.65-3.65-3.65-3.65,3.65,3.65,3.65ZM101,133.96l3.67,3.67,3.67-3.67-3.67-3.67-3.67,3.67ZM108.68,126.28l-3.37,3.37,3.67,3.67,3.67-3.67-3.37-3.37h-.62ZM126,99.57h-18.07v2.84h18.07s0-2.84,0-2.84ZM126.69,88.39h-19.44v6.55h19.44v-6.55ZM113.29,138.9l-2.73,2.73h5.46l-2.73-2.73ZM123.85,86.91l-1.21-4.73h1.22l-1.22-4.73h1.22l-1.22-4.73h1.22l-1.22-4.73h1.22l-2.03-5.94h-9.72s-2.03,5.94-2.03,5.94h1.21l-1.21,4.73h1.22l-1.22,4.73h1.22l-1.22,4.73h1.21l-1.21,4.73h13.77ZM126,95.89h-18.07v2.84h18.07v-2.84ZM107.93,106.17h18.07v-2.84h-18.07s0,2.84,0,2.84ZM100.91,126.51v6.26l3.13-3.13-3.13-3.13ZM119.13,126.28l2.76,2.76,2.76-2.76h-5.52ZM134.09,141.24v-5.93l-2.96,2.96,2.96,2.96ZM127.78,141.63h5.44l-2.72-2.72-2.72,2.72ZM117.86,141.63l3.39-3.39-3.65-3.65-3.67,3.67,3.37,3.37h.56ZM104.67,138.9l-2.73,2.73h5.46l-2.73-2.73ZM102.25,143.13v29.81h30.49v-29.81h-30.49ZM126.59,167.75v-20.39s.9,0,.9,0v20.39s-.9,0-.9,0ZM134.09,132.6v-5.93l-2.96,2.96,2.96,2.96ZM126.81,133.96l3.69,3.69,3.6-3.6v-.17l-3.6-3.6-3.69,3.69ZM100.91,106.97v10.85h33.19v-10.85h-33.19ZM100.91,135.14v6.26l3.13-3.13-3.13-3.13ZM126.5,141.63l3.36-3.36-3.69-3.69-3.65,3.65,3.39,3.39h.58ZM126.5,126.28h-.58l-3.39,3.39,3.65,3.65,3.69-3.69-3.36-3.36ZM104.67,129.01l2.73-2.73h-5.46l2.73,2.73ZM121.89,138.88l-2.76,2.76h5.52l-2.76-2.76ZM133.21,126.28h-5.44l2.72,2.72,2.72-2.72ZM103.33,124.76h28.35v-5.66h-28.35v5.66Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid8 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M131.52,159.95h1.81s0-13.52,0-13.52h-1.81v13.52ZM131.6,84.13h-17.4v-11.63h-6.99v11.63s-17.4,0-17.4,0v4.53h41.78v-4.53ZM130.11,133.85v-43.45h-38.81s0,43.45,0,43.45h38.81ZM103.94,180.5h13.52v-1.81h-13.52v1.81ZM150.38,101.93h-4.3l-1.2,1.57v1.3s6.7,0,6.7,0v-1.3l-1.2-1.57ZM165.17,88.67s-.05,0-.07,0c-.23-3.75-2.23-7.02-5.18-8.98.01-.02.03-.04.04-.06.2-.35.08-.8-.27-1-.35-.2-.8-.08-1,.27-.01.02-.02.04-.03.06-1.56-.78-3.32-1.22-5.18-1.22-1.86,0-3.62.44-5.18,1.22,0-.02-.02-.04-.03-.06-.2-.35-.65-.47-1-.27-.35.2-.47.65-.27,1,.01.02.03.04.04.06-2.95,1.96-4.95,5.23-5.18,8.98-.02,0-.05,0-.07,0-.4,0-.73.33-.73.73s.33.73.73.73c.02,0,.05,0,.07,0,.02.36.07.7.13,1.05v13.63h2.11v-1.57l1.59-2.08h3v-1.16c1.46.66,3.08,1.05,4.79,1.05,1.86,0,3.62-.44,5.18-1.22,0,.02.02.04.03.06.2.35.65.47,1,.27.35-.2.47-.65.27-1-.01-.02-.03-.04-.04-.06,2.95-1.96,4.95-5.23,5.18-8.98.02,0,.05,0,.07,0,.4,0,.73-.33.73-.73s-.33-.73-.73-.73ZM154.47,93.04c-.24,1.11-.98,1.94-1.04,2.01-1.92-.04-3.77-1.04-4.8-2.82,0,0,1.37-.04,2.56-.72,1.17-.68,2.3-2.05,2.34-2.1-.19,0-2.48,0-3.59-1.01-.84-.76-1.19-1.82-1.22-1.9.99-1.64,2.79-2.74,4.84-2.74,0,0-.65,1.2-.65,2.58s.65,3.08.65,3.08c0,0-.02,0-.03,0,.05.08,1.26,2.14.93,3.64ZM158.47,92.22s-.71-1.16-1.91-1.85c-1.19-.69-2.99-.98-2.99-.98,0,0,1.2-2.16,2.69-2.63,1.08-.34,2.17-.12,2.26-.1.93,1.68.98,3.78-.05,5.56ZM139.28,140.47h0v2.32c0,2.83-2.21,5.14-4.92,5.14v10.44c4.2,0,8.01-1.72,10.78-4.49s4.58-6.75,4.58-11.08v-2.32h7.92v-34.89h-18.37v34.89ZM134.3,133.85h-2.94v2.17s-41.33,0-41.33,0v-2.17h-2.94s0,2.48,0,2.48v1.56h4.72l11.12,24.23h-1.94v3.73h4.46v11.63h10.48v-11.63h4.46v-3.73h-1.94l2.1-4.57h9.92v-8.72h-5.92l5.02-10.93h4.72v-1.88s0,0,0,0v-2.17Z"/>
                <path class="fill-nicknavyblue-100" d="M122.52,150.95h1.81s0-13.52,0-13.52h-1.81v13.52ZM122.6,75.13h-17.4v-11.63h-6.99v11.63s-17.4,0-17.4,0v4.53h41.78v-4.53ZM121.11,124.85v-43.45h-38.81s0,43.45,0,43.45h38.81ZM115.97,84.72h.9v36.88h-.9v-36.88ZM94.94,171.5h13.52v-1.81h-13.52v1.81ZM141.38,92.93h-4.3l-1.2,1.57v1.3s6.7,0,6.7,0v-1.3l-1.2-1.57ZM156.17,79.67s-.05,0-.07,0c-.23-3.75-2.23-7.02-5.18-8.98.01-.02.03-.04.04-.06.2-.35.08-.8-.27-1-.35-.2-.8-.08-1,.27-.01.02-.02.04-.03.06-1.56-.78-3.32-1.22-5.18-1.22-1.86,0-3.62.44-5.18,1.22,0-.02-.02-.04-.03-.06-.2-.35-.65-.47-1-.27-.35.2-.47.65-.27,1,.01.02.03.04.04.06-2.95,1.96-4.95,5.23-5.18,8.98-.02,0-.05,0-.07,0-.4,0-.73.33-.73.73s.33.73.73.73c.02,0,.05,0,.07,0,.02.36.07.7.13,1.05v13.63h2.11v-1.57l1.59-2.08h3v-1.16c1.46.66,3.08,1.05,4.79,1.05,1.86,0,3.62-.44,5.18-1.22,0,.02.02.04.03.06.2.35.65.47,1,.27.35-.2.47-.65.27-1-.01-.02-.03-.04-.04-.06,2.95-1.96,4.95-5.23,5.18-8.98.02,0,.05,0,.07,0,.4,0,.73-.33.73-.73s-.33-.73-.73-.73ZM145.47,84.04c-.24,1.11-.98,1.94-1.04,2.01-1.92-.04-3.77-1.04-4.8-2.82,0,0,1.37-.04,2.56-.72,1.17-.68,2.3-2.05,2.34-2.1-.19,0-2.48,0-3.59-1.01-.84-.76-1.19-1.82-1.22-1.9.99-1.64,2.79-2.74,4.84-2.74,0,0-.65,1.2-.65,2.58s.65,3.08.65,3.08c0,0-.02,0-.03,0,.05.08,1.26,2.14.93,3.64ZM149.47,83.22s-.71-1.16-1.91-1.85c-1.19-.69-2.99-.98-2.99-.98,0,0,1.2-2.16,2.69-2.63,1.08-.34,2.17-.12,2.26-.1.93,1.68.98,3.78-.05,5.56ZM130.28,131.47h0v2.32c0,2.83-2.21,5.14-4.92,5.14v10.44c4.2,0,8.01-1.72,10.78-4.49s4.58-6.75,4.58-11.08v-2.32h7.92v-34.89h-18.37v34.89ZM132.22,98.52h14.49v31.01h-14.49v-31.01ZM125.3,124.85h-2.94v2.17s-41.33,0-41.33,0v-2.17h-2.94s0,2.48,0,2.48v1.56h4.72l11.12,24.23h-1.94v3.73h4.46v11.63h10.48v-11.63h4.46v-3.73h-1.94l2.1-4.57h9.92v-8.72h-5.92l5.02-10.93h4.72v-1.88s0,0,0,0v-2.17Z"/>
              </svg>
            </div>
          </a>
          <a href="#" class="group hover:z-10 hover:shadow-lg duration-250 ease-in-out">
            <div class="aspect-square bg-grid9 group-hover:bg-nickyellow-100 transition-all duration-250 ease-in-out">
              <svg
                class="w-full h-full"
                id="line"
                xmlns="http://www.w3.org/2000/svg"
                width="235"
                height="235"
                version="1.1"
                viewBox="0 0 235 235"
              >
                <path class="fill-nicknavyblue-20 group-hover:opacity-0 duration-250 ease-in-out" d="M107.26,171.73h38.47v-2.05h-38.47v2.05ZM109.06,173.31v3.6s3.42,3.6,3.42,3.6h28.05l3.42-3.6v-3.6h-34.88ZM139.92,86.22h-26.83v43.36h26.83v-43.36ZM132.72,78c-.89,0-1.61,1.27-1.65,2.87h0v3.94h3.32v-3.63h0c0-.05,0-.1,0-.15,0-1.67-.74-3.03-1.66-3.03ZM120.1,77.16c.89,0,1.64.65,2.08,1.68.68-1.41,2.32-2.41,4.24-2.41s3.53.99,4.22,2.4c.44-1.02,1.19-1.66,2.08-1.66.64,0,1.21.34,1.65.92-.13-3.1-3.64-5.58-7.95-5.58-4.31,0-7.82,2.48-7.95,5.57.43-.57,1-.91,1.64-.91ZM126.42,77.27c-2.06,0-3.74,1.36-3.74,3.03v4.52h7.48v-4.54h0c-.02-1.66-1.68-3.01-3.74-3.01ZM121.76,81.19h0c0-.05,0-.1,0-.15,0-1.67-.74-3.03-1.66-3.03s-1.61,1.27-1.65,2.87h0v3.94h3.32v-3.63ZM107.26,168.11h38.47v-2.05h-38.47v2.05ZM107.26,149.98h38.47v-2.05h-38.47v2.05ZM142.49,144.31v-13.29h-31.98v13.29h-3.24v2.05h38.47v-2.05h-3.24ZM107.26,153.61h38.47v-2.05h-38.47v2.05ZM107.26,164.48h38.47v-2.05h-38.47v2.05ZM107.26,160.86h38.47v-2.05h-38.47v2.05ZM107.26,157.23h38.47v-2.05h-38.47v2.05Z"/>
                <path class="fill-nicknavyblue-100" d="M100.06,164.31v3.6s3.42,3.6,3.42,3.6h28.05l3.42-3.6v-3.6h-34.88ZM123.72,69c-.89,0-1.61,1.27-1.65,2.87h0v3.94h3.32v-3.63h0c0-.05,0-.1,0-.15,0-1.67-.74-3.03-1.66-3.03ZM130.92,77.22h-26.83v43.36h26.83v-43.36ZM123.62,114.46v-31.64s.9,0,.9,0v31.64s-.9,0-.9,0ZM112.76,72.19h0c0-.05,0-.1,0-.15,0-1.67-.74-3.03-1.66-3.03s-1.61,1.27-1.65,2.87h0v3.94h3.32v-3.63ZM111.1,68.16c.89,0,1.64.65,2.08,1.68.68-1.41,2.32-2.41,4.24-2.41s3.53.99,4.22,2.4c.44-1.02,1.19-1.66,2.08-1.66.64,0,1.21.34,1.65.92-.13-3.1-3.64-5.58-7.95-5.58-4.31,0-7.82,2.48-7.95,5.57.43-.57,1-.91,1.64-.91ZM117.42,68.27c-2.06,0-3.74,1.36-3.74,3.03v4.52h7.48v-4.54h0c-.02-1.66-1.68-3.01-3.74-3.01ZM98.26,140.98h38.47v-2.05h-38.47v2.05ZM98.26,144.61h38.47v-2.05h-38.47v2.05ZM133.49,135.31v-13.29h-31.98v13.29h-3.24v2.05h38.47v-2.05h-3.24ZM98.26,148.23h38.47v-2.05h-38.47v2.05ZM98.26,162.73h38.47v-2.05h-38.47v2.05ZM98.26,151.86h38.47v-2.05h-38.47v2.05ZM98.26,159.11h38.47v-2.05h-38.47v2.05ZM98.26,155.48h38.47v-2.05h-38.47v2.05Z"/>
              </svg>
            </div>
          </a>
        </div>
      </div>

      {% comment %} Home slider/carousel {% endcomment %}
      <div class="md:order-last flex-1/2 bg-blue-500 aspect-square max-h-max">
        <div class="carousel w-full h-full">
          <div id="slide1" class="carousel-item relative w-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
              class="w-full"
            >
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide4" class="btn btn-circle">❮</a>
              <a href="#slide2" class="btn btn-circle">❯</a>
            </div>
          </div>
          <div id="slide2" class="carousel-item relative w-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
              class="w-full"
            >
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide1" class="btn btn-circle">❮</a>
              <a href="#slide3" class="btn btn-circle">❯</a>
            </div>
          </div>
          <div id="slide3" class="carousel-item relative w-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
              class="w-full"
            >
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide2" class="btn btn-circle">❮</a>
              <a href="#slide4" class="btn btn-circle">❯</a>
            </div>
          </div>
          <div id="slide4" class="carousel-item relative w-full">
            <img
              src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
              class="w-full"
            >
            <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
              <a href="#slide3" class="btn btn-circle">❮</a>
              <a href="#slide1" class="btn btn-circle">❯</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-10">
      <hr class="text-nickgrey-60">
      <div class="w-full overflow-hidden">
        <div class="text-4xl text-nicknavyblue-80 font-extralight text-nowrap pb-2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <span class="font-semibold">Donec sit amet lacinia ante.</span>Pellentesque pellentesque
        </div>
      </div>
      <hr class="text-nickgrey-60">
    </div>
  </div>
</div>

<div class="top-sellers-sections">
  <div class="container mx-auto pb-10">
    <h2 class="text-5xl text-nicknavyblue-80 font-light text pb-3">Top Sellers</h2>
    <hr class="mb-8">
    <div class="carousel rounded-box">
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
      <div class="carousel-item w-1/4">
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          class="w-full"
        >
      </div>
    </div>
  </div>
</div>
